{% extends "base.html" %}

{% block title %}
Archives - {{ SITENAME }}
{% endblock title %}

{% block content %}
{% include "sidebar.html" %}

<div id="post-container" class="archives">
	<ol id="post-list">
	    <li>
		    <article class="post-entry">
				<header class="entry-header">
			        <h1>Archives</h1>
			    </header>

		    	{% for year, date_year in dates|groupby( 'date.year' ) %}
					<h3>{{ year }}</h3>
					{% for month, articles in date_year|groupby( 'date.month' ) %}
						<h4>{{ articles[ 0 ].date.strftime( '%B' ) }}</h4>
						<dl>
						{% for article in articles %}
							<dt><a href="{{ article.url }}">{{ article.title }}</a></dt>
						{% endfor %}
						</dl>
					{% endfor %}
				{% endfor %}
			</article>
		</li>
	</ol>
</div>
{% endblock %}