{% extends "base.html" %}
{% block title %}
    {{ article.title|striptags}} - {{ SITENAME }}
{% endblock title %}

{% block content %}
    {% include "sidebar.html" %}

    <div id="post-container">
        <ol id="post-list">
            <li>
                <article class="post-entry">
                    <header class="entry-header">
                        {% if article.link %}
                        <h1><a href="{{ article.link }}" rel="bookmark" title="External Link">{{ article.title }}</a></h1>
                        {% else %}
                        <h1>{{ article.title }}</h1>
                        {% endif %}
                        <p>
                        <time class="post-time" datetime="{{ article.date.isoformat() }}" pubdate>
                            {{ article.date|strftime('%B, %d %Y') }}
                        </time>
                        &bull;
                        <a class="permalink" href="{{ SITEURL }}/{{ article.slug }}" title="Permalink for {{ article.title|striptags }}">
                        <span class="symbol">∞</span>
                        </a>
                        {#
                        <span class="mmdtext"> &bull; <a href="{{ SITEURL }}/{{ article.slug }}.txt" title="Raw Markdown for {{ article.title|striptags }}">[mmd]</a></span>
                        #}
                        </p>
                    </header>

                    <section class="post-content">
                        {{ article.content }}
                    </section>
                    <hr/>
                    <aside class="post-meta">
                        {% if article.tags %}
                        <p>Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>, {% endfor %}</p>
                        {% endif %}  
                        {% if article.share_post and article.status != 'draft' %}
                        <p class="post-share-links">
                            Share this post:
                            <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>                            
                            <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>                            
                            <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>                            
                            <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><i class="fa fa-envelope"></i></a>
                        </p>
                        {% endif %}
                    </aside>
                    <hr/>
                    {% include "disqus.html" %}
                </article>
            </li>
        </ol>

        <ul id="neighbor-list">
        {% if article.prev_article %}
        <li class="previous">
            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                <i class="fa fa-angle-double-left"> {{ article.prev_article.title }}</i>
            </a>
        </li>
        {% endif %}
        {% if article.next_article %}
        <li class="next">
            <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                {{ article.next_article.title }} <i class="fa fa-angle-double-right fa-align-right"></i>       
            </a>
        </li>
        {% endif %}
       </ul>

    </div>
{% endblock content %}