<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ SITEURL }}/favicon.png" type="image/x-icon" />

        {% if USE_OPEN_GRAPH %}
            {% if OPEN_GRAPH_FB_APP_ID %}
                <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
            {% endif %}
            <meta property="og:site_name" content="{{ SITENAME }}" />
            {% if article %}
                <meta property="og:type" content="article" />
                <meta property="og:title" content="{{ article.title|striptags }}" />
                <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
                <meta property="og:description" content="{{ article.summary|striptags }}" />
                {% if article.tags %}
                {% for tag in article.tags %}
                    <meta property="article:tag" content="{{ tag }}" />
                {% endfor %}
                {% endif %}
            {% elif page %}
                <meta property="og:type" content="article" />
                <meta property="og:title" content="{{ page.title|striptags }}" />
                <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
            {% else %}
                <meta property="og:type" content="website" />
                <meta property="og:title" content="{{ SITENAME }}" />
                <meta property="og:url" content="{{ SITEURL }}" />
                <meta property="og:description" content="{{ SITENAME }}" />
                {% if OPEN_GRAPH_IMAGE %}
                <meta property="og:image" content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}"/>
                {% endif %}
            {% endif %}
        {% endif %}
        {% block stylesheets %}
        

        <script src="//use.typekit.net/wvp2tvl.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!--
        <link href="//fnt.webink.com/wfs/webink.css/?project=8EBE4C89-7AA7-4FFC-81C2-8B6CB1AEAB7F&fonts=AC17D328-85E1-219E-EED9-EE0DB5EC41B6:f=PTSansPro-DemiItalic,0E81648D-2C76-8843-758A-D783B0B61636:f=SourceCodePro-Light,A5D135CB-3D1B-4C61-F264-3BD7F2F0897D:f=PTSansPro-LightItalic,1362EED9-64A8-227B-35A4-48ECAD1034AB:f=PTSansPro-Bold,9C657D1E-5407-6F40-0D70-59B83BA03C0F:f=SourceCodePro-Bold,3C6EEDC2-A56B-77E4-2B41-C34ACBAA0499:f=SourceCodePro-Semibold,C4C06B6C-3C52-04FA-05D8-0837158487C0:f=SourceCodePro-Regular,6640262B-565C-DA91-65E8-EAB57CD97FB4:f=PTSansPro-Regular,956A0DED-70C1-62C9-AE7E-DDE668D94CE0:f=PTSansPro-Italic,0D063924-3081-00BE-5755-3EF2BA7CA7CA:f=PTSansPro-Light,03FEBCE3-C49A-09B4-8799-7C5B1E931AC2:f=PTSansPro-Demi,99A89160-59B2-D6D6-E9DA-08E08B9ACD28:f=PTSansPro-BoldItalic" rel="stylesheet" type="text/css"/>
        
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/github.css">
        -->
        
        {% assets filters="cssmin", output="css/style.min.css", "css/normalize.css", "css/font-awesome.min.css", "css/main.css", "css/blog.css", "css/github.css" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        {% endblock stylesheets %}

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        <script src="{{ SITEURL }}/theme/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper">
            {% block content %}
            {% endblock content %}
        </div>

        {% include "footer.html" %}

        {% include "ga.html" %}
        <script src="{{ SITEURL }}/theme/js/vendor/jquery.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/vendor/jquery.fitvids.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/main.js"></script>
    </body>
</html>
