{% extends "base.html" %}

{% block title %}
Categories - {{ SITENAME }}
{% endblock title %}

{% block content %}
{% include "sidebar.html" %}

<div id="post-container">
	<ol id="post-list">
	    <li>
		    <article class="post-entry">
				<header class="entry-header">
			        <h1>Categories</h1>
			    </header>

				<dt>
				{% for category, articles in categories %}
					<dt><a href="{{ category.url }}">{{ category }}</a></dt>
				{% endfor %}
				</dt>
			</article>
		</li>
	</ol>
</div>
{% endblock %}