<header id="sidebar">
    <hgroup id="site-header">
        <div id="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a><span id="site-desc-togger-wrapper"><span class="spacer">&bull;</span><a href="#" id="toggle-site-desc"><span>Info</span><i class="fa fa-chevron-down"></i></a></span></div>
        <div id="site-desc-wrapper">
            <p id="site-desc">
            {% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}        
            </p>
            <section class="social-links">
                <a href="http://twitter.com/nealerickson">
                    <i class="fa fa-twitter icon-twitter"></i>
                </a>
                <a href="http://github.com/nealerickson">
                    <i class="fa fa-github icon-github"></i>
                </a>
                <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                    <i class="fa fa-rss icon-rss"></i>
                </a>
            </section>
        </div>
    </hgroup>
    <nav>
        <ul id="nav-links">
            {% if USE_CUSTOM_MENU %}
            {% for name, url in CUSTOM_MENUITEMS %}
                <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
            {% endfor %}
            {% else %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </nav>
    <section class="social-links">
        <a href="http://twitter.com/nealerickson">
            <i class="fa fa-twitter icon-twitter"></i>
        </a>
        <a href="http://github.com/nealerickson">
            <i class="fa fa-github icon-github"></i>
        </a>
        <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
            <i class="fa fa-rss icon-rss"></i>
        </a>
    </section>
</header>