$white: #eeeeee;
$black: #272822;

$light-gray: #E0D4D5;
$gray: #A8A1A2;
$dark-gray: #676B6B;

$brown: #CD9870;

$light-green: #adc86e;

$teal: #38C5C5;

$dark-red: #62090F;
$red: #971b24;

$prebg: $light-gray;

$sidebar-bg-color: $dark-red;
$sidebar-link-color: $brown;

$accent1: $teal;

$primary-color: $teal;

$selection-hightlight-color: $white;
$selection-hightlight-bgcolor: $red;

$font1: 'Lato', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$font3: 'Ubuntu Mono', 'Inconsolata', monospace;

@mixin transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}