@import "vars.scss";

html, body {
    color: $black;
    background-color: $white;
    font-family: $body-font;
    font-size: 1.04em;
    line-height: 1.2;
}

h1, h2, h3, h4, h5 {
    clear: both;
    line-height: 1.25;
    font-family: $headline-font;
    font-weight: 400;
    margin-bottom:0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.675em;
}

h3 {
    font-size: 1.4em;
}

h4, h5 {}

p, pre {
    margin: 0.83em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray;
    margin: 1em 0;
    padding: 0;
}

em {
    font-family: $italic-font;
    font-style: normal;

    strong {
        font-family: $strong-italic-font;
        font-style: normal;
    }
}

strong {
    font-family: $strong-font;
    font-weight: normal;
    em {
        font-family: $strong-italic-font;
        font-style: normal;
    }
}

code {
    font-size: 0.8em;
    line-height: 1.4;
    font-family: $monospace-font;
    background-color: $code-bg-color;
    border: 1px solid $code-border-color;


    padding: 0;
    margin: 0;
    border-radius: 3px;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    vertical-align: middle;
    
}

code:before, code:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}


#wrapper a {
    color: $red;

    &:hover, &:active, &:visted {
        color: $red;
    }
}

#sidebar {    
    background-color: $sidebar-bg-color;

    position: fixed;
    left: 0;
    bottom: 0;
    right: auto;
    top: 0;
    width: 20%;
    min-width: 160px;
    max-width: 280px;
    padding-left: 8px;
    padding-right: 8px;
    color: $white;
    a {
        color: $sidebar-link-color;
        text-decoration: none;
    }
}

#site-title {
    padding-left: 6px;
    font-family: $headline-font;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0.97em 0;
    letter-spacing: 0.06em;

    a {
        color: $white;
        font-family: $headline-font;
        font-size: 1.2em;
        font-weight: 400;
        @include transition;
        border-bottom:none;
        &:hover {}
    }
}

#site-desc {
    display:block;
    font-size: 0.825em;
    padding: 0 6px;
    line-height: 1.25;
    
    a {
        color: $sidebar-link-color;
    }
}

.entry-header, .page-title {
    h1, h2 {
        color: $red;
    }
}
.page-title {
    h1, h2 {
        font-size: 1.4em;
    }
}

#post-container {
    position: relative;
    margin-left: 23%;
    max-width: 800px;
    min-height: 900px;
    overflow-wrap: break-word;

    padding: 0 15px 0 0;

    sup {
        top: -0.2em;
        a {
            position: relative;
            top: 0;
            left: 0;
            font-weight: bold;
            color: $white;
            background-color: $gray;
            border-radius: 50%;
            padding: 0.2em 0.5em 0.2em;
            text-decoration: none;
            border-bottom:none;
        }

         a:hover {
            background-color: $red;
            color: $white;
        }
    }

    .post-go-home {
        text-decoration: none;
        font-size: 0.8em;
    }

    .page-title {
        padding: 0 0 0 40px;

        a {
            text-decoration: none;
        }
    }
}

#nav-links {
    list-style: none;
    padding: 0 0 0 6px;
    font-family: $headline-font;
    font-size: 1.1em;
    font-variant: bold;

    li {
        margin: 8px 0;
        padding:0;
    }

    a {
        padding: 0;
        display: inline-block;

        color: $sidebar-link-color;
        
        line-height: 1.5em;
        @include transition;
        text-decoration: none;
    }
}

html.no-touch {

    #nav-links a {
        border-top: 1px dotted $sidebar-bg-color;
        border-bottom: 1px solid $sidebar-bg-color;

        &:hover {
            border-top: 1px dotted $sidebar-link-color;
            border-bottom: 1px dotted $sidebar-link-color;
        }
    }
}

#post-list, #neighbor-list {
    list-style: none;
}

#neighbor-list {
    min-height: 1.5em;
    margin-bottom: 40px;

    li {
        width: 45%;

        &.previous {
            float: left;
            text-align:left;
        }
        &.next {
            float: right;
            text-align:right;
        }

        a {
            text-decoration: none;
            font-size: 0.875em;
        }
    }


}

.post-entry {
    margin: 3em 0;
    line-height: 1.6;
}

.entry-header {    

    p {
        margin:0;
        color: $light-red;
        font-size: 1em;
    }
    a {
        color: $black;
        text-decoration: none;
    }
    a:hover {
        color: $black;
        text-decoration: none;
    }
    h1, h2 {
        margin: 0;
    }

    time, .mmdtext {
        //line-height: 1;
    }
    time {
        color: $gray;
    }
    .mmdtext {        
        display: inline-block;

        a, a:hover {
            color: $red;
        }        
    }

    .permalink {
        display: inline-block;
        color: $red;

        .symbol {
            font-family: Verdana,Helvetica,Arial,Times,sans-serif;
        }
    }
}

.post-content {
    a {
        color: $red;
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
    }
    pre {
        font-size: 0.8em;
        line-height: 1.4;
        background-color: $code-bg-color;
        padding: 10px;
        margin: 10px;
        overflow: auto;
        font-family: $monospace-font;
        border: 1px solid $code-border-color;
        border-radius: 3px;
    }
}

.post-meta {
    a {
        font-style: italic;
        color: $red;
        &:visted, &:hover {
            color: $red;
        }
    }
}

.post-share-links {
    a {
        margin-right: 8px;
    }
}

.footnote {
    font-size: 14px;
    .footnote-backref {
        text-decoration: none;
    }
}

.paginator {
    text-align: center;
    padding: 12px;
    font-size: 0.9em;
}

#post-container {
   #post-list {
        li .post-entry {
            margin-bottom: 2.5em;
        }
       li:first-child {
           .post-entry {
                margin-top: 1.39em;
           }
       }
        li:last-child {
           .post-entry {
                margin-top: 1.39em;
           }
       }
   }
}


#site-desc-togger-wrapper {
    display:none;

    .spacer {
        color: $light-red;
        margin: 0 8px;
    }

    #toggle-site-desc {
        color: $sidebar-link-color;
        margin-left: 0;
        font-size: 0.75em;
        display: inline-block;
        span {
            margin-right: 2px;
        }
    }
}

#site-desc-wrapper {
    display: block;
}

#site-desc-wrapper .social-links {
    display: none;    
}

#sidebar .social-links {
    
    padding: 0 0 0 6px;

    a {
        text-align: center;
    }

    i {
        display: inline-block;
        width: 20px;
        height: 20px;
        color: #FFF;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
        @include border-radius(50%);
    }

    /* Social Media Colors */

    .icon-facebook {
        color: #3B5998;
        background: #fff;
    }

    .icon-twitter {
        color: #00aced;
        background: #fff;
    }

    .icon-github {
        color: $dark-gray;
        background: #fff;
    }

    .icon-rss {
        color: #ff7400;
        background: #fff;
    }
}

#site-info {
    margin-left: 23%;
    max-width: 800px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design..
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
// iPad in portrait & landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /*.entry-header {
        .permalink {
            margin-top:-4px;
        }
    }*/
}

// iPad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #site-title {
        font-size: 1.2em;
    }
    #site-desc {
        font-size: 0.65em;
    }
}

/*
// Retina iPad in portrait & landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {}

// Retina iPad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {}

// Retina iPad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {}

// Non-retina iPad in portrait & landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

// Non-retina iPad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {}

// Non-retina iPad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {}
*/


// iPhone 5 in portrait & landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /*.entry-header {
        .permalink {
            margin-top:-4px;
            
        }
    }*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    /*.entry-header {
        .permalink {
            margin-top:-4px;
        }
    }*/
}


@media only screen and (max-width: 680px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 0.975em;
    }

    #sidebar {
        position: static;
        width: 100%;
        max-width: 100%;
        padding: 10px 0 12px 0;
    }
    #sidebar .social-links {
        display: none;
    }
    #site-desc-wrapper .social-links {
        display: block;
        margin: 8px 0;
        text-align: center;
    }

    #site-desc-wrapper {
        display: none;
    }
    #site-desc-wrapper.show-desc {
        display: block;
    }

    #post-container {
        width: 100%;
        position: static;
        margin: 0;
        padding:0;
    }

    #post-container #post-list li:first-child .post-entry {
        margin-top: 2em;
    }

    #post-list {
        padding: 0;
    }

    #neighbor-list {
        width: 95%;
        margin: 0 auto 40px auto;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    #nav-links {
        text-align: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.9em;

        li {
            display: inline;
            margin: 6px;
        }
        a {
            display: inline-block;
            text-transform: uppercase;
        }
    }

    #site-title {
        text-align:center;
        margin-top: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    #site-desc-togger-wrapper {
        display:inline-block;
    }

    #site-desc {
        text-align:center;
        font-size: 0.9em;
        padding: 0 6px;
        max-width: 450px;
        margin: 0 auto;
    }

    #site-header {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .side-shadow {
        -webkit-box-shadow: 0 3px 12px 3px $gray;
           -moz-box-shadow: 0 3px 12px 3px $gray;
                box-shadow: 0 3px 12px 3px $gray;
    }

    .post-entry{
        padding: 0 12px;
    }

    #post-container .post-go-home,
    #post-container .page-title {
        padding: 0 12px;
    }

    #site-info {
        font-size: 0.8em;
        margin-left:0;
    }
}

@media only screen and (max-width: 520px) {
    /*#nav-links {
        font-size: 1.0em;
    }
    #site-desc {
        font-size: 0.8em;
    }

    #toggle-site-desc { 
    }

    #site-info {
    }*/
}