html, body {
  color: #272822;
  background-color: white;
  font-family: "PTSansPro-Light", Verdana, Helvetica, Arial, Times, sans-serif;
  font-size: 1.04em;
  line-height: 1.2; }

h1, h2, h3, h4, h5 {
  clear: both;
  line-height: 1.25;
  font-family: "PTSansPro-Demi", Verdana, Helvetica, Arial, Times, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.675em; }

h3 {
  font-size: 1.4em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a8a1a2;
  margin: 1em 0;
  padding: 0; }

em {
  font-family: "PTSansPro-LightItalic", Verdana, Helvetica, Arial, Times, sans-serif;
  font-style: normal; }

strong {
  font-family: "PTSansPro-Demi", Verdana, Helvetica, Arial, Times, sans-serif;
  font-weight: normal; }
  strong em {
    font-family: "PTSansPro-DemiItalic", Verdana, Helvetica, Arial, Times, sans-serif;
    font-style: normal; }

#wrapper a {
  color: #971b24; }
  #wrapper a:hover, #wrapper a:active, #wrapper a:visted {
    color: #971b24; }

#sidebar {
  background-color: #62090f;
  position: fixed;
  left: 0;
  bottom: 0;
  right: auto;
  top: 0;
  width: 20%;
  min-width: 160px;
  max-width: 280px;
  padding-left: 8px;
  padding-right: 8px;
  color: white; }
  #sidebar a {
    color: #cd9870;
    text-decoration: none; }

#site-title {
  padding-left: 6px;
  font-family: "PTSansPro-Demi", Verdana, Helvetica, Arial, Times, sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0.97em 0;
  letter-spacing: 0.06em; }
  #site-title a {
    color: white;
    font-family: "PTSansPro-Demi", Verdana, Helvetica, Arial, Times, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: none; }

#site-desc {
  display: block;
  font-size: 0.825em;
  padding: 0 6px; }
  #site-desc a {
    color: #cd9870; }

.entry-header h1, .entry-header h2, .page-title h1, .page-title h2 {
  color: #971b24; }

#post-container {
  position: relative;
  margin-left: 23%;
  max-width: 800px;
  min-height: 900px;
  overflow-wrap: break-word;
  padding: 0 15px 0 0; }
  #post-container sup {
    top: -0.2em; }
    #post-container sup a {
      position: relative;
      top: 0;
      left: 0;
      font-weight: bold;
      color: white;
      background-color: #a8a1a2;
      border-radius: 50%;
      padding: 0.2em 0.5em 0.2em;
      text-decoration: none;
      border-bottom: none; }
    #post-container sup a:hover {
      background-color: #971b24;
      color: white; }
  #post-container .post-go-home {
    text-decoration: none;
    font-size: 0.8em; }
  #post-container .page-title {
    padding: 0 0 0 40px; }
    #post-container .page-title a {
      text-decoration: none; }

#nav-links {
  list-style: none;
  padding: 0 0 0 6px;
  font-family: "PTSansPro-Demi", Verdana, Helvetica, Arial, Times, sans-serif;
  font-size: 1.1em;
  font-variant: bold; }
  #nav-links li {
    margin: 8px 0;
    padding: 0; }
  #nav-links a {
    padding: 0;
    display: inline-block;
    color: #cd9870;
    line-height: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }

html.no-touch #nav-links a {
  border-top: 1px dotted #62090f;
  border-bottom: 1px solid #62090f; }
  html.no-touch #nav-links a:hover {
    border-top: 1px dotted #cd9870;
    border-bottom: 1px dotted #cd9870; }

#post-list, #neighbor-list {
  list-style: none; }

#neighbor-list {
  min-height: 1.5em;
  margin-bottom: 40px; }
  #neighbor-list li {
    width: 45%; }
    #neighbor-list li.previous {
      float: left;
      text-align: left; }
    #neighbor-list li.next {
      float: right;
      text-align: right; }
    #neighbor-list li a {
      text-decoration: none;
      font-size: 0.875em; }

.post-entry {
  margin: 3em 0;
  line-height: 1.6; }

.entry-header p {
  margin: 0;
  color: #772d34;
  font-size: 1em; }
.entry-header a {
  color: #272822;
  text-decoration: none; }
.entry-header a:hover {
  color: #272822;
  text-decoration: none; }
.entry-header h1, .entry-header h2 {
  margin: 0 0 0.3em; }
.entry-header time {
  color: #a8a1a2; }
.entry-header .mmdtext {
  display: inline-block; }
  .entry-header .mmdtext a, .entry-header .mmdtext a:hover {
    color: #971b24; }
.entry-header .permalink {
  display: inline-block;
  color: #971b24; }
  .entry-header .permalink .symbol {
    font-family: Verdana,Helvetica,Arial,Times,sans-serif; }

.post-content a {
  color: #971b24; }
.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 80%; }
.post-content pre {
  font-size: 13px;
  line-height: 18px;
  background-color: #e0d4d5;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  font-family: "SourceCodePro-Regular", "Ubuntu Mono", "Inconsolata", monospace; }

.post-meta a {
  font-style: italic;
  color: #971b24; }
  .post-meta a:visted, .post-meta a:hover {
    color: #971b24; }

.post-share-links a {
  margin-right: 8px; }

.footnote {
  font-size: 14px; }
  .footnote .footnote-backref {
    text-decoration: none; }

.paginator {
  text-align: center;
  padding: 12px;
  font-size: 0.9em; }

#post-container #post-list li .post-entry {
  margin-bottom: 2.5em; }
#post-container #post-list li:first-child .post-entry {
  margin-top: 1.39em; }
#post-container #post-list li:last-child .post-entry {
  margin-top: 1.39em; }

#site-desc-togger-wrapper {
  display: none; }
  #site-desc-togger-wrapper .spacer {
    color: #772d34;
    margin: 0 8px; }
  #site-desc-togger-wrapper #toggle-site-desc {
    color: #cd9870;
    margin-left: 0;
    font-size: 0.75em;
    display: inline-block; }
    #site-desc-togger-wrapper #toggle-site-desc span {
      margin-right: 2px; }

#site-desc-wrapper {
  display: block; }

#site-desc-wrapper .social-links {
  display: none; }

#sidebar .social-links {
  padding: 0 0 0 6px;
  /* Social Media Colors */ }
  #sidebar .social-links a {
    text-align: center; }
  #sidebar .social-links i {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #FFF;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  #sidebar .social-links .icon-facebook {
    color: #3B5998;
    background: #fff; }
  #sidebar .social-links .icon-twitter {
    color: #00aced;
    background: #fff; }
  #sidebar .social-links .icon-github {
    color: #676b6b;
    background: #fff; }
  #sidebar .social-links .icon-rss {
    color: #ff7400;
    background: #fff; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design..
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*.entry-header {
      .permalink {
          margin-top:-4px;
      }
  }*/ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #site-title {
    font-size: 1.2em; }

  #site-desc {
    font-size: 0.65em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /*.entry-header {
      .permalink {
          margin-top:-4px;
          
      }
  }*/ }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*.entry-header {
      .permalink {
          margin-top:-4px;
      }
  }*/ }
@media only screen and (max-width: 680px) {
  /* Style adjustments for viewports that meet the condition */
  body {
    font-size: 0.975em; }

  #sidebar {
    position: static;
    width: 100%;
    max-width: 100%;
    padding: 10px 0 12px 0; }

  #sidebar .social-links {
    display: none; }

  #site-desc-wrapper .social-links {
    display: block;
    margin: 8px 0;
    text-align: center; }

  #site-desc-wrapper {
    display: none; }

  #site-desc-wrapper.show-desc {
    display: block; }

  #post-container {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0; }

  #post-container #post-list li:first-child .post-entry {
    margin-top: 2.75em; }

  #post-list {
    padding: 0; }

  #neighbor-list {
    width: 95%;
    margin: 0 auto 40px auto;
    padding: 0; }
    #neighbor-list li {
      margin: 0;
      padding: 0; }

  #nav-links {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em; }
    #nav-links li {
      display: inline;
      margin: 6px; }
    #nav-links a {
      display: inline-block;
      text-transform: uppercase; }

  #site-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase; }

  #site-desc-togger-wrapper {
    display: inline-block; }

  #site-desc {
    text-align: center;
    font-size: 0.9em;
    padding: 0 6px;
    max-width: 450px;
    margin: 0 auto; }

  #site-header {
    margin-bottom: 10px;
    margin-left: 0; }

  .side-shadow {
    -webkit-box-shadow: 0 3px 12px 3px #a8a1a2;
    -moz-box-shadow: 0 3px 12px 3px #a8a1a2;
    box-shadow: 0 3px 12px 3px #a8a1a2; }

  .post-entry {
    padding: 0 12px; }

  #post-container .post-go-home,
  #post-container .page-title {
    padding: 0 12px; }

  #site-info {
    font-size: 0.8em;
    margin-left: 0; } }
@media only screen and (max-width: 520px) {
    /*#nav-links {
        font-size: 1.0em;
    }
    #site-desc {
        font-size: 0.8em;
    }

    #toggle-site-desc { 
    }

    #site-info {
    }*/ }
